<!DOCTYPE html>
<html>
  <head>
    <title>Create Employee</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/servants">Employee List</a></h3>
      <h1>Create New Employee</h1>
      <form action="/servants/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" required="true" /></td>
            </tr>
            <tr>
              <td>Class</td>
              <td><input type="text" name="class" required="true"/></td>
            </tr>
            <tr>
              <td>Rarity</td>
              <td><input type="text" name="rarity" required="true"/></td>
            </tr>
            <tr>
              <td>Damage</td>
              <td><input type="number" name="damage" required="true"/></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>